body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFD400;
}

.logo {
  margin-left: 45%;
  margin-top: 50px;
  margin-bottom: -150px;
}

.content {
  background-color: white;
  height: 500px;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.picker {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.cover {
  height: 250px;
  background-color: #FFD400;
}

.cover-title {
  color: #274472;
  font-weight: 500;
  text-align: center;
  font-size: 70px;
  margin-top: 10%;
}

.cover-text {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #20385E;
  font-weight: 500;
  font-size: 30px;
}

.graph-button {
  background-color: #274472;
  color: white;
  font-weight: 600;
  border: solid 2px #274472;
  border-radius: 10px !important;
  padding: 15px 25px 15px 25px;
}

.graph-button:hover {
  background-color: white;
  color: #274472;
  font-weight: 600;
  border: solid 2px black;
  border-radius: 10px !important;
  padding: 15px 25px 15px 25px;
}

.action {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
